Tests: run-test-suite
Depends:
 cmake,
 g++ | c++-compiler,
 libeigen3-dev,
 libpython3-dev,
 nanobind-dev,
 python3-dev,
 python3-numpy,
 python3-pytest,
 python3-scipy,
 python3-torch [amd64 arm64 mips64el ppc64el s390x],
Restrictions: allow-stderr

